*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2%;
    height: 111px;
}


nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}


nav>ul>li{
    margin-inline: 10px;
    text-transform: uppercase;

}

nav>div>i{
    margin-inline: 15px;

}
/* ------------------------------------------------- */



#hero{
    width: 100vw;
    height: 90vh;
    background: url(./pics/pizza1\ 1.png);
    background-size: cover;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hero > h2 {
    width: 902px;
    height: 215px;
    color: #fff;
    font-size: 101px;
    font-weight: 700;
    line-height: 108.5px;
    letter-spacing: 9.09px;
  
}

#hero > p {
    width: 599px;
    color: #fff;
    font-family: Ruda;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2.25px;
}


.horizontal-line{
    width: 568px;
    height: 13px;
    background-color: #f24c4c;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.25);
   
}

/* ------------------------------------------------------------ */


#about-us{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 100px;
}

#about-us-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

#about-us-div > p {
width: 40%;
color: #fff;
font-family: Ruda;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 2.25px;

}


/* ---------------------------------------------------------------- */




















